@import 'tailwindcss';

@font-face {
    font-family: "Annotation Mono";
    src:
        url("/AnnotationMono-VF.ttf") format("truetype") tech(variations),
        url("/AnnotationMono-VF.woff2") format("woff2") tech(variations);
}

@theme {
    --font-keys: "Annotation Mono";
}

