@import 'tailwindcss';

@font-face {
    font-family: "Rubik Keycaps";
    src:
        url("/Rubik-Keycaps.ttf") format("truetype") tech(variations),
        url("/Rubik-Keycaps.woff2") format("woff2") tech(variations);
}

@theme {
    --font-keys: "Rubik Keycaps";
}

